h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
}
  
h2{
    font-size: 32px;
    line-height: 1.5;
}

#Manga {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    justify-items: center;
    align-items: center;
}

#attackontitan {
    grid-column: 1 / span 1;
}

#onepiece {
    grid-column: 2 / span 1;
}

#spacebrothers {
    grid-column: 3 / span 1;
}

#Sports {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr, 1fr;
    justify-items: center;
    align-items: center;
}

#wbc {
    grid-column: 1 / span 1;
}

#chanpionship {
    grid-column: 2 / span 1;
}

#worldcup {
    grid-column: 3 / span 1;
}

#grandslam {
    grid-column: 4 / span 1;
}

#Japan {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#tokyo {
    grid-column: 1 / span 1;
}

#kyoto {
    grid-column: 2 / span 1;
}