h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
}
  
h2{
    font-size: 32px;
    line-height: 1.5;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#TVshows {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}